@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Frankfurter Std';
  src: url('/fonts/frankfurter-std-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--background);
  font-family: 'inter';
}

/* Apply Frankfurter Std font only to elements using the Tailwind class */
.font-frank {
  font-family: 'Frankfurter Std', 'inter';
}
.font-arial {
  font-family: var(--font-arial);
}

